[Unit]
Description=webprog is a test web service from R.O.

[Service]
ExecStart=/usr/bin/java -jar /opt/webprog/app/webprog.jar &
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
