[Unit]
Description=webprog is a test web service from R.O.

[Service]
Type=forking

PIDFile=/var/run/webprog/webprog.pid

ExecStart=/opt/webprog/bin/webprog.sh start

[Install]
WantedBy=multi-user.target
